# DOCKER
# nginx config
NGINX_CONFIG=nginx.conf.local

# LGTM
GRAFANA_ADMIN_USER=test
GRAFANA_ADMIN_PASSWORD=1234

# PSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=postgres
MONITOR_USER=postgres_monitor

# GDCHEERIOSCOM
DOMAIN=http://127.0.0.1
SECRET=secret
IS_PRODUCTION=0
BACKEND_WEBSOCKET_URL=ws://gdcheeriosws:8765
FRONTEND_WEBSOCKET_URL=ws://127.0.0.1:8765

# Leave This empty to ignore account verification
SMTP_HOST=
SMTP_EMAIL=
SMTP_PASSWORD=

DB_HOSTNAME=psql
DB_PASSWORD=1234
DB_USER=postgres
DB=gdcheeriosdb

# Leave this empty to ignore osu account linking
OSU_API_KEY=
OSU_SECRET=
CLIENT_ID=0

# Leave this empty to ignore payment system
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Leave this empty to ignore google account linking
GOOGLE_CLIENT=
GOOGLE_SECRET=
